@model ReferalDemo.ViewModels.FinalViewModel

<div>
    <table>
        <tbody>
            <tr>
                <th>RequestID</th>
                <td>@Model.RequestId</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>@Model.UserId</td>
            </tr>
        </tbody>
    </table>
</div>